<div class="sky" aria-hidden="true">
  <div class="cloud-layer">
    <div class="cloud-scaler">
      <div class="cloud-track">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
      </div>
    </div>
  </div>

  <div class="cloud-layer cloud-layer--offset">
    <div class="cloud-scaler">
      <div class="cloud-track">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
        <img src="/assets/parralax_clouds.png" alt="" width="386" height="127" draggable="false">
      </div>
    </div>
  </div>
</div>
